/freeline
/freeline_core
/freeline.py
/freeline_project_description.json
/freeline.zip.tmp
/build
/Baojia.iml
/Baojia_DrivingTest.iml
/local.properties
/build/**
/.idea
/.gradle
**/build
libraries/baojia
libraries/httpmime
libraries/pinned-section-listview
*.iml
**/*.iml
android.keystore
/DrivingTest-Base/DrivingTest-Base.iml
vim.exe.stackdump
